@using DigiAviator.Infrastructure.Data.Models.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
	ViewData["Title"] = "Digital Aviator - Home";
}

<h1>Welcome, Admin</h1>
