@{
	ViewBag.Title = "Logbook - Instructions";
}

<div class="text-center">
	<h1 class="display-4">Logbook</h1>
</div>

<div class="col-md-12 col-lg-12 col-xl-12">
	<div class="card mb-2 bg-gradient-dark">
		<img class="card-img-top" src="~/img/lb_hours.jpg" alt="Dist Photo 1">
		<div class="card-img-overlay d-flex flex-column justify-content-end">
			<h5 class="card-title text-primary text-white">Instructions</h5>
			<p class="card-text text-white pb-2 pt-1">Read through these guidlines and you will understand how to correctly log your flight time.</p>
		</div>
	</div>
</div>

<section class="content">
	<div class="row">
		<div class="col-12" id="accordion">
			<div class="card card-primary card-outline">
				<a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
					<div class="card-header">
						<h4 class="card-title w-100">
							General
						</h4>
					</div>
				</a>
				<div id="collapseOne" class="collapse show" data-parent="#accordion">
					<div class="card-body">
						FCL.050 requires holders of a pilot licence to record details of all flights flown.
						This logbook enables pilot licence holders to record flying experience in a manner which will facilitate this process while providing a permanent record of the licence holders flying.
						Pilots who fly regularly aeroplanes and helicopters or other aircraft categories are recommended to maintain separate logbooks for each aircraft category.
					</div>
				</div>
			</div>
			<div class="card card-primary card-outline">
				<a class="d-block w-100" data-toggle="collapse" href="#collapseTwo">
					<div class="card-header">
						<h4 class="card-title w-100">
							When should entries be made
						</h4>
					</div>
				</a>
				<div id="collapseTwo" class="collapse" data-parent="#accordion">
					<div class="card-body">
						Flight crew logbook entries should be made as soon as practicable after any flight undertaken.
					</div>
				</div>
			</div>
			<div class="card card-primary card-outline">
				<a class="d-block w-100" data-toggle="collapse" href="#collapseThree">
					<div class="card-header">
						<h4 class="card-title w-100">
							Recording multiple flights as a single entry
						</h4>
					</div>
				</a>
				<div id="collapseThree" class="collapse" data-parent="#accordion">
					<div class="card-body">
						The particulars of every flight in the course of which the holder of a flight crew licence acts as a member of the operating crew of an aircraft are to be recorded in the appropriate columns using one line for each flight,
						provided that if an aircraft carries out a number of flights upon the same day returning on each occasion to the same place of departure and the interval between successive flights does not exceed 30 minutes,
						such series of flights may be recorded as a single entry.
					</div>
				</div>
			</div>
			<div class="card card-warning card-outline">
				<a class="d-block w-100" data-toggle="collapse" href="#collapseFour">
					<div class="card-header">
						<h4 class="card-title w-100">
							How is flight time recorded
						</h4>
					</div>
				</a>
				<div id="collapseFour" class="collapse" data-parent="#accordion">
					<div class="card-body">
						<ul>
							<li>For aeroplanes, touring motor gliders and powered-lift aircraft, from the moment an aircraft first moves to taking off until the moment it finally comes to rest at the end of the flight.</li>
							<li>For helicopters, from the moment a helicopter’s rotor blades start turning until the moment the helicopter finally comes to rest at the end of the flight, and the rotor blades are stopped.</li>
							<li>For airships, from the moment an airship is released from the mast to taking off until the moment the airship finally comes to rest at the end of the flight, and is secured on the mast.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card card-warning card-outline">
				<a class="d-block w-100" data-toggle="collapse" href="#collapseFive">
					<div class="card-header">
						<h4 class="card-title w-100">
							Logging time as PIC, PICUS or SPIC
						</h4>
					</div>
				</a>
				<div id="collapseFive" class="collapse" data-parent="#accordion">
					<div class="card-body">
						When an aircraft carries two or more pilots as members of the operating crew, one of them shall, before the flight commences, be designated by the operator as the aircraft PIC,
						according to operational requirements, who may delegate the conduct of the flight to another suitably qualified pilot. All flying carried out as PIC is entered in the logbook as ‘PIC’.
						A pilot flying as ‘PICUS’ or ‘SPIC’ enters flying time as ‘PIC’ but all such entries are to be certified by the PIC or FI in the ‘Remarks’ column of the logbook.
					</div>
				</div>
			</div>
			<div class="card card-warning card-outline">
				<a class="d-block w-100" data-toggle="collapse" href="#collapseSix">
					<div class="card-header">
						<h4 class="card-title w-100">
							Notes on recording of flight time
						</h4>
					</div>
				</a>
				<div id="collapseSix" class="collapse" data-parent="#accordion">
					<div class="card-body">
						<ul>
							<li>Column 1: Enter the date (dd/mm/yy) on which the flight commences.</li>
							<li>Column 2 or 3: Enter the place of departure and destination either in full or the internationally recognised three or four letter designator. <br> All times should be in UTC.</li>
							<li>Column 5: Indicate whether the operation was SP or MP, and for SP operation whether SE or ME.</li>
							<li>Column 6: Total time of flight may be entered in hours and minutes or decimal notation as desired.</li>
							<li>Column 7: Enter the name(s) of PIC or SELF as appropriate.</li>
							<li>Column 8: Indicate the number of landings as pilot flying by day or night.</li>
							<li>Column 9: Enter flight time undertaken at night or under instrument flight rules if applicable.</li>
							<li>Column 10: pilot function time.</li>
							<li>Column 11: FSTD.</li>
							<li>
								Column 12: the ‘remarks’ column may be used to record details of the flight at the holder’s discretion. The following entries, however, should always be made:
								<ol>
									<li>Instrument flight time undertaken as part of the training for a licence or rating</li>
									<li>Details of all skill tests and proficiency checks</li>
									<li>Signature of PIC if the pilot is recording flight time as SPIC or PICUS</li>
									<li>Signature of instructor if flight is part of an SEP or TMG class rating revalidation</li>

								</ol>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 mt-3 text-center">
			<p class="lead">
				<a asp-area="" asp-controller="About" asp-action="Contact">Contact us</a>,
				if you have additional questions.<br />
			</p>
		</div>
	</div>
</section>
