@using DigiAviator.Infrastructure.Data.Models.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
	ViewData["Title"] = "Digital Aviator - Home";
}

@if (SignInManager.IsSignedIn(User))
{
	<div class="text-center">
		<h1 class="display-4">Hello, aviator!</h1>
		<p>
			On this dashboard you can see an overview from your logbook including total flight time, longest flight and your most flown aircraft:
		</p>
	</div>
	<div class="info-box mb-3 bg-warning">
		<span class="info-box-icon"><i class="fas fa-clock"></i></span>

		<div class="info-box-content">
			<span class="info-box-text">Total flight time</span>
			<span class="info-box-number">5,200 Hours</span>
		</div>
		<!-- /.info-box-content -->
</div>
	<div class="info-box mb-3 bg-warning">
		<span class="info-box-icon"><i class="fas fa-map"></i></span>

		<div class="info-box-content">
			<span class="info-box-text">Longest flight</span>
			<span class="info-box-number">20 Hours</span>
		</div>
		<!-- /.info-box-content -->
</div>
	<div class="info-box mb-3 bg-warning">
		<span class="info-box-icon"><i class="fas fa-plane"></i></span>

		<div class="info-box-content">
			<span class="info-box-text">Most flown aircraft</span>
			<span class="info-box-number">LZ-AIA</span>
		</div>
		<!-- /.info-box-content -->
</div>
	<div class="text-center">
		<p>
			Verify with a quick glance that your paperwork is valid and you can go flying:
		</p>
	</div>
	<!-- /.info-box -->
	<div class="info-box mb-3 bg-success">
		<span class="info-box-icon"><i class="far fa-heart"></i></span>

		<div class="info-box-content">
			<span class="info-box-text">Your medical is valid</span>
			<span class="info-box-number">Expiration date: </span>
		</div>
		<!-- /.info-box-content -->
</div>
	<!-- /.info-box -->
	<div class="info-box mb-3 bg-success">
		<span class="info-box-icon"><i class="far fa-address-card"></i></span>

		<div class="info-box-content">
			<span class="info-box-text">Your license is valid</span>
			<span class="info-box-number">Expiration date: </span>
		</div>
		<!-- /.info-box-content -->
</div>
	<!-- /.info-box -->
}
else
{
	<div class="text-center">
		<h1 class="display-4">Welcome aviators</h1>
		<p>
			Move away from the old-fashioned paper logbook. Keep track of your flights, review the state of your pilot license and medical,
			gather useful flight preparation information: aircraft performance, weight and balance, weather and airport data. To get started, select one of the following options:
		</p>
		<form action="/Identity/Account/Register">
			<button type="submit" class="btn btn-block btn-info buttons-home nav-link">Register</button>
		</form>
		<p> </p>
		<form action="/Identity/Account/Login">
			<button type="submit" class="btn btn-block btn-warning buttons-home nav-link">Login</button>
		</form>
		<img src="~/img/homebg.png" alt="Robin DR400" class="home-bg-image" />
	</div>
}
